@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

@keyframes appear {
    from { opacity: 0%; }
    to { opacity: 100%; }
}

@keyframes expand {
    from { padding: 10%; opacity: 100%; }
    to { padding: 0%; opacity: 100%; }
}

@keyframes sunrise { 
    0% { background-size: 200% 200%; }
    100% { background-size: 100% 100%; }
}

@keyframes spread {
    0% { width: 0%; }
    100% { width: 60%; }
}

html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;

    animation-name: sunrise;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    background-size: 100% 100%;
}

a {
    all: unset;
    color: unset;
    cursor: pointer;
    text-decoration: underline;
}

#theme {
    z-index: 10;
    border-radius: 100%;
    background-color: var(--theme);
    padding: 5px;
    margin: 1% 1% 0 0;
    color: var(--theme);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.header, .projects, #info {
    font-family: 'Dosis', sans-serif;
    color: var(--theme);
}

.header {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    cursor: default;
}

.header h1 {
    opacity: 0%;
    animation: appear 1s .5s forwards;
    font-size: 40px;
    padding-top: 2%;
    margin: auto;
    margin-bottom: 1%;
    text-align: center;
}

h1::selection, a::selection, p::selection, img::selection {
    all: unset;
}

#info::selection, #info a::selection {
    color: pink;
}

.header hr {
    border: unset;
    margin-bottom: 0;
    background-color: var(--theme);
    height: 5px;
    animation: spread 1s forwards;
}

.header ul {
    all: unset;
    display: flex;
    margin-top: 8px;
    gap: 10px;
    justify-content: center;
    list-style: none;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
    text-decoration-color: inherit;
}